@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;800&display=swap");

$default-font: "Urbanist";

$purple-accent: #734494;
$light-accent: #f0f0f0;
$dark-accent: #b3b3b3;
$dark-error: #ed513e;
$light-error: #fdf2f1;
