@import "src/assets/styles/variables";

.ul {
  display: flex;
  background: white;
  margin: 0;
  margin-left: 20px;
  height: 67px;
  width: 78%;
  border-radius: 40px;

  > a {
    padding-top: 14px;
    text-decoration: none;
    width: 100%;
    margin: 9px;
    background: transparent;
    color: $dark-accent;
    text-align: center;
  }

  > a.active {
    color: black;
  }
}
