.auth {
  width: 550px;
  background: white;
  margin: auto;
  border-radius: 33.5px;
  // height: 100%;

  > h1 {
    background: transparent;
    // padding-top: 20px;
  }

  > form {
    background: transparent;

    > div {
      background: transparent;
    }
  }
}

.buttons {
  background: transparent;
  display: flex;
  padding: 30px;
  padding-top: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
